.social-icons {
    margin-top: 1rem;
  }
  
  .icon {
    width: 32px;
    height: 32px; 
    margin: 0 0.5rem;
  }
  
  .icon:hover {
    opacity: 0.8;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 10%; 
  }